.red{
   border: red 1px solid;
    border-radius: 10px;
    background-color: #999999 ;
  font-size: large;
text-align: center;
   width: 200px;
}
.text1{
    color: red;
}
.green{
    border: green 1px solid;
    border-radius: 10px;
    background-color: #999999 ;
    font-size: large;
    text-align: center;
    width: 200px;
}
.text2{
    color: green;
}
.blue
 {
     border: blue 1px solid;
     border-radius: 10px;
     background-color: #999999 ;
     font-size: large;
     text-align: center;
     width: 200px;
 }
.text3
{
    color: blue;
}
